# Backend Environment Variables
DATABASE_URL=postgresql://neondb_owner:npg_XkwBJVU8WF4e@ep-green-mode-b4ugmgu4-pooler.c-6.us-east-2.aws.neon.tech/mfgms_ai?sslmode=require&channel_binding=require
SECRET_KEY=supersecretkey123

# Firebase Admin Config
FIREBASE_PROJECT_ID=multi-family-genealogy
FIREBASE_CREDENTIALS_PATH=/path/to/firebase-service-account.json
